<%- include ('partials/header') %>
<div class="row m-0 p-3">
        <div class="col-md-5 m-0 p-0 text-center"><img class="img-fluid mx-auto" style="width:auto;height:400px;" src="<%= book.image_link %>"></div>
        <div class="col-md-7 m-0 p-0 pt-2">
            <h1><%= book.name %></h1>
            <h1 class="h4">~<%= book.author %></h1>
            <p><%= book.description %><br></p><table class="b-0">
    <tr>
        <th>ISBN</th>
         <th>:</th>
        <td><%= book.isbn %></td>
    </tr>
    <tr>
        <th>Publisher</th>
        <th>:</th>
        <td><%= book.publisher %></td>
    </tr>

    <tr>
        <th>Language</th>
        <th>:</th>
        <td><%= book.language %></td>
        
    </tr>
    <tr>
        <th>Genre</th>
        <th>:</th>
        <td><%= book.genre %></td>
        
    </tr>
</table></div>




    </div>
    <hr>
    <div class="row m-0 p-0 justify-content-center align-items-end">
        <div class="col-md-3 justify-content-center">
            <div class="row text-center">
                <div class="col-12"><img src="../assets/img/icon/amazon.png" style="width:70%"></div>
                <div class="col-12">
                    <p class="text-center h4"><br>₹ <%= amazondata.curr_price %><br><br></p><button  class="btn btn-primary align-items-center pt-2" type="button"><a style="text-decoration: none; color: white;" target="_blank" href="<%= book.amazon_aff %>">Buy now</a> </button></div>
            </div>
        </div>
        <div class="col-md-3 justify-content-center">
            <div class="row text-center">
                <div class="col-12"><img src="../assets/img/icon/flipkart.png" style="width:80%"></div>
                <div class="col-12">
                    <p class="text-center h4"><br>₹ <%= flipkartdata.curr_price %><br><br></p><button class="btn btn-primary align-items-center pt-2 mb-0" type="button"><a style="text-decoration: none; color: white;" target="_blank" href="<%= book.flipkart_aff %>">Buy now</a> </button></div>
            </div>
        </div>
    </div>

    <div class="container">
        
            <div class="text-right">
                <a class="btn btn-success" href="/book/<%= book._id %>/comments/new">Add new Comment</a>
            </div>
            <hr>
            <% book.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right"><% comment.createdAt %></span>
                        <p><%= comment.text %></p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn=xs btn-warning" href="/book/<%= book._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form id="delete-form" action="/book/<%= book._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        <% }%>
                    </div>
                </div>
                
            <% }) %>


       
    </div>

    


    

    
    <!-- <div class="row justify-content-center">
        
        <div class="elfsight-app-b9af9b02-c808-4d6c-912c-be1e06da0f91 col-10">
    </div>
    </div> -->
    
    <figure class="highcharts-figure">
        <div id="container"></div>

    </figure>
    <script type="text/javascript">
        Highcharts.chart('container', {

            title: false,
            subtitle:false,
            xAxis: {
                type: 'datetime',
                labels: {
                    format: '{value:%b %e}'
                }
            },
            tooltip: {
                xDateFormat: '%d %b %Y',
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>₹{point.y}</b><br/>'
            },
            plotOptions: {
                series: {
                    fillOpacity: 0.15,
                    marker: {
                        enabled: false
                    }
                }
            },
            yAxis: {
                title: {
                    text: false
                },
                labels: {
                    format: '₹{value}'
                }
            },

            series: [{
                name: 'Amazon Price',
                data: [[1581815531000,341],[1581908418000,341],[1581985532000,341],[1582104594000,326],[1582173202000,326],[1582242561000,326],[1582419472000,326],[1582524914000,326],[1582615741000,326],[1582780647000,311],[1582860081000,311],[1582938308000,311],[1583020780000,311],[1583113049000,311],[1583205943000,311],[1583278881000,311],[1583377864000,311],[1583455664000,311],[1583502179000,311],[1583659395000,311],[1583674517000,311],[1583771697000,311],[1583885568000,311],[1583985583000,311],[1584148160000,312],[1584194101000,312],[1584278711000,312],[1584370613000,312],[1584478007000,312],[1584537538000,388],[1584669535000,405],[1584758679000,405],[1584853138000,499],[1584881717000,499],[1590982469000,474],[1591713162000,415],[1591975939000,412],[1592145630000,499],[1592287802000,499],[1592942901000,499],[1593050434000,499],[1593117007000,499],[1593209392000,499],[1593447488000,499],[1593560672000,499],[1593741490000,414],[1593819231000,410],[1593917143000,499],[1593993959000,499],[1594045331000,499],[1594133921000,499],[1594214882000,374],[1594318663000,404],[1594454455000,760],[1594476562000,806],[1594638604000,499],[1594723424000,499],[1594769848000,499],[1594821952000,499],[1594929103000,499],[1595017422000,499],[1595144258000,499],[1595225725000,499],[1595288516000,499],[1595338188000,499],[1595475715000,327],[1595602754000,327],[1595685218000,327],[1595835332000,499],[1595995896000,499],[1596039092000,499],[1596418630000,499],[1596459459000,499],[1596545920000,499],[1596633568000,499],[1596757765000,499],[1596953323000,499],[1597024723000,499],[1597123492000,415],[1597169070000,415],[1597244311000,415],[1597377293000,499],[1597474704000,499],[1597583711000,499],[1597713280000,499],[1597776251000,499],[1597875757000,499],[1597929310000,499],[1598024014000,499],[1598025019000,499],[1598042315000,499],[1598161133000,499],[1598231928000,499],[1598274253000,449],[1598370753000,494],[1598490940000,499],[1598571877000,499],[1598664330000,499],[1598744194000,499],[1598798791000,499],[1598892228000,499],[1598893219000,499],[1598942577000,499]]
            },
            {
                name: 'Fipkart Price',
                data: [[1581815531000,341],[1581908418000,341],[1581985532000,341],[1582104594000,326],[1582173202000,326],[1582242561000,326],[1582419472000,326],[1582524914000,326],[1582615741000,326],[1582780647000,311],[1582860081000,311],[1582938308000,311],[1583020780000,311],[1583113049000,311],[1583205943000,311],[1583278881000,311],[1583377864000,311],[1583455664000,311],[1583502179000,311],[1583659395000,311],[1583674517000,311],[1583771697000,311],[1583885568000,311],[1583985583000,311],[1584148160000,312],[1584194101000,312],[1584278711000,312],[1584370613000,312],[1584478007000,312],[1584537538000,388],[1584669535000,405],[1584758679000,405],[1584853138000,499],[1584881717000,499],[1590982469000,474],[1591713162000,415],[1591975939000,412],[1592145630000,499],[1592287802000,499],[1592942901000,499],[1593050434000,499],[1593117007000,499],[1593209392000,499],[1593447488000,499],[1593560672000,499],[1593741490000,414],[1593819231000,410],[1593917143000,499],[1593993959000,499],[1594045331000,499],[1594133921000,499],[1594214882000,374],[1594318663000,404],[1594454455000,760],[1594476562000,806],[1594638604000,499],[1594723424000,499],[1594769848000,499],[1594821952000,499],[1594929103000,499],[1595017422000,499],[1595144258000,499],[1595225725000,499],[1595288516000,499],[1595338188000,499],[1595475715000,327],[1595602754000,327],[1595685218000,327],[1595835332000,499],[1595995896000,499],[1596039092000,499],[1596418630000,499],[1596459459000,499],[1596545920000,499],[1596633568000,499],[1596757765000,499],[1596953323000,499],[1597024723000,499],[1597123492000,415],[1597169070000,415],[1597244311000,415],[1597377293000,499],[1597474704000,499],[1597583711000,499],[1597713280000,499],[1597776251000,499],[1597875757000,499],[1597929310000,499],[1598024014000,499],[1598025019000,499],[1598042315000,499],[1598161133000,499],[1598231928000,499],[1598274253000,449],[1598370753000,494],[1598490940000,499],[1598571877000,499],[1598664330000,499],[1598744194000,499],[1598798791000,499],[1598892228000,499],[1598893219000,499],[1598942577000,499]]
            }
        ],
            

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
//checking
        });
    </script>

    <script src="../assets/js/graph.js"> </script>


<%- include ('partials/footer') %>