<%- include ('partials/header') %>
<div class="row m-0 p-3">
        <div class="col-md-5 m-0 p-0 text-center"><img class="img-fluid mx-auto" style="width:auto;height:400px;" src="<%= book.image_link %>"></div>
        <div class="col-md-7 m-0 p-0 pt-2">
            <h1><%= book.name %></h1>
            <h1 class="h4">~<%= book.author %></h1>
            <p><%= book.description %><br></p><table class="b-0">
    <tr>
        <th>ISBN</th>
         <th>:</th>
        <td><%= book.isbn %></td>
    </tr>
    <tr>
        <th>Publisher</th>
        <th>:</th>
        <td><%= book.publisher %></td>
    </tr>

    <tr>
        <th>Language</th>
        <th>:</th>
        <td><%= book.language %></td>
        
    </tr>
    <tr>
        <th>Genre</th>
        <th>:</th>
        <td><%= book.genre %></td>
        
    </tr>
</table></div>
    </div>
    <hr>
    <div class="row m-0 p-0 justify-content-center align-items-end">
        <div class="col-md-3 justify-content-center">
            <div class="row text-center">
                <div class="col-12"><img src="../assets/img/icon/amazon.png" style="width:70%"></div>
                <div class="col-12">
                    <p class="text-center h4"><br>₹ 312.00<br><br></p><button  class="btn btn-primary align-items-center pt-2" type="button"><a style="text-decoration: none; color: white;" target="_blank" href="<%= book.amazon_aff %>">Buy now</a> </button></div>
            </div>
        </div>
        <div class="col-md-3 justify-content-center">
            <div class="row text-center">
                <div class="col-12"><img src="../assets/img/icon/flipkart.png" style="width:80%"></div>
                <div class="col-12">
                    <p class="text-center h4"><br>₹ 195.00<br><br></p><button class="btn btn-primary align-items-center pt-2 mb-0" type="button"><a style="text-decoration: none; color: white;" target="_blank" href="<%= book.flipkart_aff %>">Buy now</a> </button></div>
            </div>
        </div>
    </div>
    <figure class="highcharts-figure">
        <div id="container"></div>

    </figure>

    
    <div class="row justify-content-center">
        
        <div class="elfsight-app-b9af9b02-c808-4d6c-912c-be1e06da0f91 col-10">
    </div>
    </div>
    
    <script type="text/javascript">
        Highcharts.chart('container', {

            title: false,
            subtitle:false,
            xAxis: {
                type: 'datetime',
                labels: {
                    format: '{value:%b %e}'
                }
            },
            tooltip: {
                xDateFormat: '%d %b %Y',
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>₹{point.y}</b><br/>'
            },
            plotOptions: {
                series: {
                    fillOpacity: 0.15,
                    marker: {
                        enabled: false
                    }
                }
            },
            yAxis: {
                title: {
                    text: false
                },
                labels: {
                    format: '₹{value}'
                }
            },

            series: [{
                name: 'Amazon Price',
                data: [[1564739424000,250],[1564921320000,250],[1565225592000,250],[1565347526000,250],[1565614457000,302],[1565944338000,250],[1566226401000,250],[1566919214000,340],[1567323988000,279],[1567506490000,279],[1567596855000,319],[1567704851000,319],[1568354413000,319],[1568541130000,319],[1568614821000,319],[1569468850000,340],[1569580931000,340],[1569732122000,319],[1569853222000,319],[1569909151000,319],[1570084703000,319],[1570162226000,270],[1570355415000,270],[1570850171000,270],[1570925092000,279],[1571029342000,306],[1571119819000,270],[1571226628000,270],[1571421151000,299],[1571488238000,299],[1571581390000,299],[1571666576000,299],[1571818857000,299],[1571987962000,299],[1572690419000,306],[1572968914000,296],[1573100807000,306],[1573372147000,279],[1573922333000,355],[1573985330000,306],[1574151303000,306],[1574583301000,306],[1574784054000,306],[1574863761000,279],[1574903776000,306],[1575722443000,279],[1576008635000,305],[1576166796000,306],[1576220245000,306],[1576320889000,299],[1576358058000,299],[1576557158000,298],[1576993608000,298],[1577378896000,264],[1577385642000,264],[1577526497000,278],[1577613878000,278],[1577699681000,279],[1577785111000,278],[1577859753000,278],[1577990721000,298],[1578294680000,278],[1578548792000,263],[1578693010000,263],[1578852750000,263],[1579235301000,263],[1579287504000,263],[1579495735000,274],[1579590420000,274],[1579766240000,278],[1579939597000,279],[1580051544000,274],[1580121762000,279],[1580534540000,279],[1580582186000,274],[1580750579000,279],[1580828896000,279],[1580954190000,279],[1581374200000,309],[1581765754000,309],[1583138199000,309],[1583226152000,309],[1583695470000,302],[1583858435000,309],[1583937299000,309],[1584027176000,309],[1584160739000,309],[1584534410000,309],[1584639293000,309],[1584779182000,299],[1595711046000,329],[1596483556000,351],[1596493930000,351],[1596700350000,329],[1596797804000,360],[1596799111000,360],[1596819272000,329],[1596894272000,329],[1596979723000,351],[1597121678000,351],[1597156480000,351],[1597239326000,339],[1597463076000,339],[1597498499000,329],[1597661298000,339],[1597711151000,351],[1597827275000,351],[1597901934000,351],[1598224447000,349],[1598490106000,379],[1598786420000,351],[1598834154000,351],[1598977596000,351],[1599016069000,351],[1599016987000,351],[1599042685000,329],[1599130113000,329],[1599183403000,351],[1599271347000,351],[1599298009000,351],[1599354750000,351],[1599451480000,351],[1599648392000,379],[1599892570000,379],[1600155983000,351],[1600216004000,351],[1600675590000,341],[1600748430000,341],[1600893122000,379],[1600952796000,341],[1601207506000,341],[1601331146000,379],[1601477404000,341],[1601766818000,327],[1601907577000,341],[1602243844000,327],[1602635570000,327],[1602681977000,341],[1602811318000,367],[1602857509000,341],[1602942455000,367],[1603197566000,312],[1603276290000,312]]
            },
            {
                name: 'Flipkart Price',
                data: [[1572976884000,398],[1586145355000,398],[1595991282000,398],[1599130846000,237],[1599153870000,237],[1599297965000,280],[1599628910000,260],[1599629984000,260],[1601091332000,250],[1602126694000,260],[1602215389000,236],[1602750110000,195],[1602926411000,195],[1603111180000,195],[1603276222000,195]]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
    </script>


<%- include ('partials/footer') %>